@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Group 14<br />
    University of Cincinnati<br />
    Cincinnati<br />
    Pin : 45220<br />
    <abbr title="Phone">P:</abbr>
    513-223-8347
</address>

<address>   
    <strong>Support:</strong>   <a href="mailto:tholakvj@mail.uc.edu">tholakvj@mail.uc.edu</a><br />
    <strong>Support:</strong>   <a href="mailto:saxenani@mail.uc.edu">saxenani@mail.uc.edu</a><br />
    <strong>Marketing:</strong> <a href="mailto:shuklara@mail.uc.edu">shuklara@mail.uc.edu</a>
</address>